<!-- templates/db.html/ -->
<!-- reference main.py, todo_functions.py, todo.db -->
<!--from templates/db.html/ loop and render each array member
  in pre tag-->
<!-- reference main.py, todo_functions.py, todo.db -->
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo DB</title>
</head>
<body>
  <a href="/" style="margin-left: 5rem; margin-top: 5rem;">Home</a>
  <pre >

  <h1>Todo DB</h1>
  <table>
    <thead>
      <tr>
        {% for column in columns %}
          <th>{{ column }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in data %}
        <tr>
          {% for column in columns %}
            <td>{{ row[column] }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="/" style="margin-left: 5rem; margin-top: 5rem;">Home</a>
  <style>
    table {
      font-size: 1rem;
    }
  </style>
</body>
</html>
