<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form 
        style="margin-top: 5rem;" method="POST" action="/update/{{ todo[0] }}">
        <input type="text" name="task" value="{{ todo[1] }}">
        <select name="status">
            <option value="Pending" {% if todo[2] == "Pending" %} selected {% endif %}>Pending</option>
            <option value="Completed" {% if todo[2] == "Completed" %} selected {% endif %}>Completed</option>
        </select>
        <button type="submit">Update</button>
    </form>

</body>
</html>


